# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# Flask
instance/
.webassets-cache

# Environment Variables
.env

# MacOS
.DS_Store

# IDEs
.idea/
.vscode/
*.swp
