services:
  web:
    build: .
    expose:
      - 3000
    environment:
      - PORT=3000
      - APP_PASSWORD=secret123
      - FLASK_SECRET_KEY=supersecretkeyCHANGE_ME
      - REQUIRE_LOGIN=true
    volumes:
      - .:/app
